Cross-Selling Remmendation for Banking Products
Data cleaning and transformation

In [54]:
##Read in dataset as
import pandas as pd
import numpy as np

testdata = pd.read_csv('Test.csv')

c:\Users\gifty\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [55]:
### Step 1: Dealing with Missing Values (NAs)

#  Check for missing values
print("Missing values in each column:")
print(testdata.isnull().sum())


#testdata.info()

Missing values in each column:
fecha_dato                    0
ncodpers                      0
ind_empleado                  0
pais_residencia               0
sexo                          5
age                           0
fecha_alta                    0
ind_nuevo                     0
antiguedad                    0
indrel                        0
ult_fec_cli_1t           927932
indrel_1mes                  23
tiprel_1mes                  23
indresi                       0
indext                        0
conyuemp                 929511
canal_entrada              2081
indfall                       0
tipodom                       0
cod_prov                   3996
nomprov                    3996
ind_actividad_cliente         0
renta                         0
segmento                   2248
dtype: int64

In [56]:
# Drop rows with any missing values is one approach to dealing with NAs
testdata_cleaned = testdata.dropna()

print(testdata_cleaned.isnull().sum())

## this approch is inappriopriate for analysis
## might result in inaccuracy of results

fecha_dato               0.0
ncodpers                 0.0
ind_empleado             0.0
pais_residencia          0.0
sexo                     0.0
age                      0.0
fecha_alta               0.0
ind_nuevo                0.0
antiguedad               0.0
indrel                   0.0
ult_fec_cli_1t           0.0
indrel_1mes              0.0
tiprel_1mes              0.0
indresi                  0.0
indext                   0.0
conyuemp                 0.0
canal_entrada            0.0
indfall                  0.0
tipodom                  0.0
cod_prov                 0.0
nomprov                  0.0
ind_actividad_cliente    0.0
renta                    0.0
segmento                 0.0
dtype: float64

In [57]:
print(testdata.dtypes)

fecha_dato                object
ncodpers                   int64
ind_empleado              object
pais_residencia           object
sexo                      object
age                        int64
fecha_alta                object
ind_nuevo                  int64
antiguedad                 int64
indrel                     int64
ult_fec_cli_1t            object
indrel_1mes              float64
tiprel_1mes               object
indresi                   object
indext                    object
conyuemp                  object
canal_entrada             object
indfall                   object
tipodom                    int64
cod_prov                 float64
nomprov                   object
ind_actividad_cliente      int64
renta                     object
segmento                  object
dtype: object

In [59]:
# interger and float data types
#cod_prov, ind_actividad_cliente,tipodom,indrel_1mes, indrel, antiguedad,ind_nuevo
# age, ncodpers

## lets use fillna

testdata['ind_nuevo']=testdata['ind_nuevo'].fillna(testdata['ind_nuevo'].mean())

testdata['indrel']=testdata['indrel'].fillna(testdata['indrel'].mean())

testdata['tipodom']=testdata['tipodom'].fillna(testdata['tipodom'].mean())

testdata['ind_actividad_cliente']=testdata['ind_actividad_cliente'].fillna(testdata['ind_actividad_cliente'].mean())

testdata['cod_prov']=testdata['cod_prov'].fillna(testdata['cod_prov'].mean())

testdata['ncodpers']=testdata['ncodpers'].fillna(testdata['ncodpers'].mean())

testdata['indrel_1mes']=testdata['indrel_1mes'].fillna(testdata['indrel_1mes'].mean())

testdata['age']=testdata['age'].fillna(testdata['age'].mean())

testdata['antiguedad']=testdata['antiguedad'].fillna(testdata['antiguedad'].mean())

testdata.info()

testdata.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929615 entries, 0 to 929614
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_dato             929615 non-null  object
 1   ncodpers               929615 non-null  int64
 2   ind_empleado           929615 non-null  object
 3   pais_residencia        929615 non-null  object
 4   sexo                   929610 non-null  object
 5   age                    929615 non-null  int64
 6   fecha_alta             929615 non-null  object
 7   ind_nuevo              929615 non-null  int64
 8   antiguedad             929615 non-null  int64
 9   indrel                 929615 non-null  int64
 10  ult_fec_cli_1t         1683 non-null    object
 11  indrel_1mes            929615 non-null  float64
 12  tiprel_1mes            929592 non-null  object
 13  indresi                929615 non-null  object
 14  indext                 929615 non-null  object
 15  conyuemp               104 non-null     object
 16  canal_entrada          927534 non-null  object
 17  indfall                929615 non-null  object
 18  tipodom                929615 non-null  int64
 19  cod_prov               929615 non-null  float64
 20  nomprov                925619 non-null  object
 21  ind_actividad_cliente  929615 non-null  int64
 22  renta                  929615 non-null  object
 23  segmento               927367 non-null  object
dtypes: float64(2), int64(7), object(15)
memory usage: 170.2+ MB

fecha_dato                    0
ncodpers                      0
ind_empleado                  0
pais_residencia               0
sexo                          5
age                           0
fecha_alta                    0
ind_nuevo                     0
antiguedad                    0
indrel                        0
ult_fec_cli_1t           927932
indrel_1mes                   0
tiprel_1mes                  23
indresi                       0
indext                        0
conyuemp                 929511
canal_entrada              2081
indfall                       0
tipodom                       0
cod_prov                      0
nomprov                    3996
ind_actividad_cliente         0
renta                         0
segmento                   2248
dtype: int64

In [60]:
testdata.info()




## Drop NAs in Objects data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929615 entries, 0 to 929614
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_dato             929615 non-null  object
 1   ncodpers               929615 non-null  int64
 2   ind_empleado           929615 non-null  object
 3   pais_residencia        929615 non-null  object
 4   sexo                   929610 non-null  object
 5   age                    929615 non-null  int64
 6   fecha_alta             929615 non-null  object
 7   ind_nuevo              929615 non-null  int64
 8   antiguedad             929615 non-null  int64
 9   indrel                 929615 non-null  int64
 10  ult_fec_cli_1t         1683 non-null    object
 11  indrel_1mes            929615 non-null  float64
 12  tiprel_1mes            929592 non-null  object
 13  indresi                929615 non-null  object
 14  indext                 929615 non-null  object
 15  conyuemp               104 non-null     object
 16  canal_entrada          927534 non-null  object
 17  indfall                929615 non-null  object
 18  tipodom                929615 non-null  int64
 19  cod_prov               929615 non-null  float64
 20  nomprov                925619 non-null  object
 21  ind_actividad_cliente  929615 non-null  int64
 22  renta                  929615 non-null  object
 23  segmento               927367 non-null  object
dtypes: float64(2), int64(7), object(15)
memory usage: 170.2+ MB

In [64]:
## drop nas in object
# sexo,nomprov,segmento, canal_entrada,tiprel_

testdata['sexo'] = testdata['sexo'].dropna()
testdata['nomprov'] = testdata['nomprov'].dropna()

print(testdata.isnull().sum())

fecha_dato                    0
ncodpers                      0
ind_empleado                  0
pais_residencia               0
sexo                          5
age                           0
fecha_alta                    0
ind_nuevo                     0
antiguedad                    0
indrel                        0
ult_fec_cli_1t           927932
indrel_1mes                   0
tiprel_1mes                  23
indresi                       0
indext                        0
conyuemp                 929511
canal_entrada              2081
indfall                       0
tipodom                       0
cod_prov                      0
nomprov                    3996
ind_actividad_cliente         0
renta                         0
segmento                   2248
dtype: int64

In [24]:
## Subset data out with filtered columns that needs NAs gone.
#subtestdata = testdata.iloc[:,[10,11,12,15,16,19,20,23]]
#print(subtestdata)

# Alternatively, you can impute missing values with mean, median, or a custom value using fillna()
# For example:

#  Impute missing values with mean or median

# Impute with Mean
#testdata_imputed_mean = testdata.fillna(testdata.mean())

# Impute with Median
#testdata_imputed_median = testdata.fillna(testdata.median())

# Impute with Median
#subtestdata_imputed_median = subtestdata.fillna(subtestdata.median())

## case where median is NA or 0

C:\Users\gifty\AppData\Local\Temp/ipykernel_28364/2953383279.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  testdata_imputed_median = testdata.fillna(testdata.median())
C:\Users\gifty\AppData\Local\Temp/ipykernel_28364/2953383279.py:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  subtestdata_imputed_median = subtestdata.fillna(subtestdata.median())

In [34]:
# Save the imputed DataFrame to a new CSV file
#testdata_imputed_mean.to_csv('testdata_imputed_mean.csv', index=False)
#testdata_imputed_median.to_csv('testdata_imputed_median.csv', index=False)
#subtestdata_imputed_median.to_csv('subtestdata_imputed_median.csv', index=False)

testdata_new.to_csv('testdata_new.csv', index=False)

# Print the first few rows of the imputed datasets
#print(testdata_imputed_mean.head())
#print(testdata_imputed_median.head())
#print(subtestdata_imputed_median.head())

Dealing with Outliers

In [91]:
#print(testdata_new)

test_new=testdata.dropna(subset=['sexo','ult_fec_cli_1t','tiprel_1mes','canal_entrada','nomprov','segmento'])
test_new.isnull().sum()




#testdata_new=test_new.dropna()

fecha_dato                  0
ncodpers                    0
ind_empleado                0
pais_residencia             0
sexo                        0
age                         0
fecha_alta                  0
ind_nuevo                   0
antiguedad                  0
indrel                      0
ult_fec_cli_1t              0
indrel_1mes                 0
tiprel_1mes                 0
indresi                     0
indext                      0
conyuemp                 1642
canal_entrada               0
indfall                     0
tipodom                     0
cod_prov                    0
nomprov                     0
ind_actividad_cliente       0
renta                       0
segmento                    0
dtype: int64

In [92]:
test_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1642 entries, 421 to 929330
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fecha_dato             1642 non-null   object
 1   ncodpers               1642 non-null   int64
 2   ind_empleado           1642 non-null   object
 3   pais_residencia        1642 non-null   object
 4   sexo                   1642 non-null   object
 5   age                    1642 non-null   int64
 6   fecha_alta             1642 non-null   object
 7   ind_nuevo              1642 non-null   int64
 8   antiguedad             1642 non-null   int64
 9   indrel                 1642 non-null   int64
 10  ult_fec_cli_1t         1642 non-null   object
 11  indrel_1mes            1642 non-null   float64
 12  tiprel_1mes            1642 non-null   object
 13  indresi                1642 non-null   object
 14  indext                 1642 non-null   object
 15  conyuemp               0 non-null      object
 16  canal_entrada          1642 non-null   object
 17  indfall                1642 non-null   object
 18  tipodom                1642 non-null   int64
 19  cod_prov               1642 non-null   float64
 20  nomprov                1642 non-null   object
 21  ind_actividad_cliente  1642 non-null   int64
 22  renta                  1642 non-null   object
 23  segmento               1642 non-null   object
dtypes: float64(2), int64(7), object(15)
memory usage: 320.7+ KB

In [89]:
## Variable age - integer
age =test_new['age']
age_mean=age.mean()
age_std=age.std()
age_lower=age_mean - 3*age_std
age_upper=age_mean + 3*age_std
age_outliers=age[(age<age_lower)|(age>age_upper)]
print(age_outliers)
print(age_mean) #39
print(age.median())
print(age_lower) 
print(age_upper)

313713    89
464274    87
476993    88
484153    88
497396    88
552812    87
612373    87
695487    88
702530    87
861348    87
913784    89
Name: age, dtype: int64
40.24543239951279
38.0
-6.118367705733625
86.6092325047592

In [93]:
age1 = age._get_numeric_data()
age1[age1 >89]=39
age1[age1 < -9]=39
print(age1)
print(age[916]) 
print(age[910])

421       22
2248      37
2748      23
3533      40
4188      66
          ..
927385    14
928152    62
928153    60
928842    51
929330    37
Name: age, Length: 1642, dtype: int64

KeyError: 916

In [94]:
antiguedad=test_new['antiguedad']
antiguedad_mean=antiguedad.mean()
antiguedad_std=antiguedad.std()
antiguedad_lower=antiguedad_mean - 3*antiguedad_std
antiguedad_upper=antiguedad_mean + 3*antiguedad_std
antiguedad_outliers=antiguedad[(antiguedad<antiguedad_lower)|(antiguedad>antiguedad_upper)]

print(antiguedad_outliers)
print(antiguedad_mean) 
print(antiguedad.median())
print(antiguedad_lower) 
print(antiguedad_upper)

579727    217
585974    227
586327    206
588542    220
590225    222
592370    220
592992    220
594811    208
594882    207
595079    207
596629    208
601483    211
602181    212
602182    212
602431    211
603900    203
605401    209
607195    210
607315    211
607421    211
612372    233
612373    233
615084    239
620050    242
621586    235
625844    230
633306    239
635426    230
636943    248
675159    204
676325    204
680943    201
684283    204
Name: antiguedad, dtype: int64
37.35809987819732
11.0
-125.16359779747805
199.8797975538727

In [ ]:
antiguedad1 = antiguedad._get_numeric_data()
antiguedad1[antiguedad1 >5471]=66
antiguedad1[antiguedad1 < -5315]=66
print(antiguedad1)
print(antiguedad[675528]) 
print(antiguedad[734648])

In [96]:
cod_prov=test_new['cod_prov']
cod_prov_mean=cod_prov.mean()
cod_prov_std=cod_prov.std()
cod_prov_lower=cod_prov_mean - 3*cod_prov_std
cod_prov_upper=cod_prov_mean + 3*cod_prov_std
cod_prov_outliers=cod_prov[(cod_prov<cod_prov_lower)|(cod_prov>cod_prov_upper)]
print(cod_prov_outliers)
print(cod_prov_mean) 
print(cod_prov.median())
print(cod_prov_lower) 
print(cod_prov_upper)

Series([], Name: cod_prov, dtype: float64)
26.159561510353228
28.0
-13.294078806899094
65.61320182760555

In [97]:
cod_prov1 = cod_prov._get_numeric_data()
cod_prov1[cod_prov1 >65]=27
cod_prov1[cod_prov1 < -11]=27
print(cod_prov1)

421       46.0
2248      29.0
2748      15.0
3533      28.0
4188      28.0
          ...
927385    13.0
928152    28.0
928153    28.0
928842     8.0
929330    35.0
Name: cod_prov, Length: 1642, dtype: float64

In [98]:
renta=test_new['renta']
renta1 = renta._get_numeric_data()
renta1[renta1 >297949]=105525
renta1[renta1 < -65366]=105525
print(renta1)
print(renta)

Series([], Name: renta, dtype: object)
421          58433.61
2248               NA
2748         95318.19
3533        158775.72
4188               NA
             ...
927385       53633.46
928152      227053.59
928153      227053.59
928842      189914.64
929330      105349.08
Name: renta, Length: 1642, dtype: object